.tables {

  .tables_inner {
    background: $white-color;
    padding: 50px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.03);
    border-radius: 10px;

    @include breakpoint(max-lg) {
      padding: 30px 10px;
    }
  }

  .tables_top-area {
    display: flex;
    max-width: 350px;
    margin: 0 auto;
    align-items: center;
    margin-block-end: 50px;

    @include breakpoint(max-sm) {
      max-width: 100%;
      margin-block-end: 35px;
    }

    span {
      display: inline-block;
      margin-inline-end: 10px;
      text-transform: capitalize;
      font-size: 1rem;

    }

    select {
      outline: none;
      border: none;
      box-shadow: none;
      border: 1px solid $border-color;
      border-radius: 0.5rem;
      color: $gray-600;
      font-size: 0.875rem;
      background-color: $white-color;
      padding: 0.75rem 1.125rem;
      transition: all 0.3s ease;
      

      &:hover {
            border-color: rgba($brand-color, 0.3);
      }

      &:focus {
        border-color: $brand-color;
      }
    }
  }

  .tables_body {
    nav {
      .nav-tabs {
        justify-content: center;
        border-block-end: unset;
        margin-block-end: 50px;

        .nav-link {
          @include add-prefix(transition, $transition);
          // border: none;
          outline: none;
          box-shadow: none;
          border-radius: 0.5rem;
          color: $text-color;
          width: auto;
          background-color: rgba($brand-color, 0.3);
          margin-inline-end: 5px;
          
          display: inline-flex; 
          align-items: center;
          gap: 5px;


          @include breakpoint(sm) {
            margin-bottom: 5px;
          }

          @include breakpoint(max-md) {
            margin-bottom: 5px;
          }


          &:last-child {
            margin-inline-end: 0;
          }

          &.active,
          &:hover {
            color: $white-color;
            background-color: $brand-color;
          }
        }
      }
    }

  }
}
